
<ul class="nav nav-tabs ">
        <li class="nav-item"> 
            <a class="nav-link " [routerLink]="['/affichage']">Acceuil</a> 
           </li>
           <li class="nav-item"> <a class="nav-link" [routerLink]="['/produits']">Nos Produits</a>
                
           </li>
            <li class="nav-item">
                 <a class="nav-link" [routerLink]=" ['/ajout']">ajout d'un article</a> 
               </li> 
               <li class="nav-item"> <a class="nav-link" [routerLink]="['/detail']">Detail</a></li>
              
               </ul>


               